public/mocks/
.dockerignore
.gitignore
node_modules/
npm-debug.log
README.md
.next/
.git/
**/.vscode/
.env.development

# for deploy, use migrations in the dev mode
!prisma/migrations/
prisma/dev.db