public/mocks/

.dockerignore
.gitignore
npm-debug.log
README.md
.env.development
deploy.ps1
docker-compose-dev.yml
reorganize_backup.py

node_modules/
.next/
.git/
**/.vscode/

# for deploy, use migrations in the dev mode
!prisma/migrations/
prisma/dev.db