@keyframes loadingfloat {
  0%, 100% {
    transform: 
      translate(0, 0) 
      rotate(0deg);
  }
  25% {
    transform: 
      translate(calc(var(--startX) - var(--moveX)), calc(var(--startY) + var(--moveY))) 
      rotate(180deg);
  }
  50% {
    transform: 
      translate(calc(var(--startX) + var(--moveX)), calc(var(--startY) - var(--moveY))) 
      rotate(-180deg);
  }
  75% {
    transform: 
      translate(calc(var(--startX) - var(--moveX)), calc(var(--startY) - var(--moveY))) 
      rotate(180deg);
  }
}

.animate-float {
  animation: loadingfloat infinite linear;
  will-change: transform; /* 开启 GPU 加速 */
  transform: translateZ(0);
}