@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* delete preflight of tailwindcss */
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --background: #f4f4f4;
  --foreground: #171717;
  --hover-light-background: rgba(
    var(--mui-palette-primary-mainChannel) /
      var(--mui-palette-action-hoverOpacity)
  );
  /* same as that in theme.ts */
  font-family: "Noto Sans SC","PingFang SC","Microsoft YaHei",sans-serif;
  --active-light-background: rgba(var(--mui-palette-primary-mainChannel) / 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  display: flex;
  flex-direction: column;
  margin: 0;
}

.my_link {
  @apply text-[var(--mui-palette-primary-main)] hover:text-[var(--mui-palette-primary-300)] no-underline;
}

a {
  text-decoration: none !important;
}

.navbar-button {
  @apply hidden lg:flex items-center justify-center select-none cursor-pointer text-lg;
  @apply box-border px-4 self-stretch text-[var(--foreground)];
  @apply hover:text-[var(--mui-palette-primary-main)] hover:bg-[var(--hover-light-background)] transition-colors duration-150;
  @apply active:bg-[var(--active-light-background)];
}
.navbar-active-button {
  @apply border-b-6 border-[var(--mui-palette-primary-main)] pt-[6px];
}

.homepage-swiper {
  --swiper-theme-color: var(--mui-palette-primary-main);
  --swiper-pagination-color: var(--mui-palette-primary-main);
}

.screen_layout{
  @apply flex flex-col items-stretch min-h-screen
}

.swiper-slide {
  width: 96% !important;
  margin: 0 2%;
}
.swiper-slide-prev {
  right: -4%;
}
.swiper-slide-next {
  left: -4%;
}
