@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* 全局背景和全局颜色 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 组件背景 */
  --color-sidebar: var(--sidebar);
  --color-popover: var(--popover);
  --color-card: var(--card);
  --color-sidebar-accent: var(--sidebar-accent);

  /* 文字色，对应三种背景 */
  --color-muted-foreground: var(--muted-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-card-foreground: var(--card-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary-active: var(--primary-active);
  --color-primary-accent: var(--primary-accent);

  /* 交互元素，如组件等 */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --default-font-family: "Noto Sans SC", "PingFang SC", "Microsoft YaHei",
    sans-serif;
}

:root {
  --background: #f9f9f9;
  --foreground: #1e1e1e;
  --card: #ffffff;
  --card-foreground: #1e1e1e;
  --popover: #ffffff;
  --popover-foreground: #1e1e1e;
  --primary: #e45882;

  --primary-active: #c24c70;
  --primary-accent: #f7739b;

  --primary-foreground: #ffffff;
  --secondary: #f5d1d8;
  --secondary-foreground: #992b44;
  --muted: #eaeaea;
  --muted-foreground: #6b7280;
  --accent: #fde7ec;
  --accent-foreground: #992b44;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #e0e0e0;
  --input: #e0e0e0;
  --ring: #e45882;
  --sidebar: #ffffff;
  --sidebar-foreground: #1e1e1e;
  --sidebar-primary: #e45882;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fff0f3;
  --sidebar-accent-foreground: #992b44;
  --sidebar-border: #e0e0e0;
  --sidebar-ring: #e45882;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
  --card: #1e1e1e;
  --card-foreground: #f5f5f5;
  --popover: #292929;
  --popover-foreground: #f5f5f5;

  --primary: #e45882;
  --primary-active: #c24c70;
  --primary-accent: #f7739b;

  --primary-foreground: #ffffff;
  --secondary: #2a1a22;
  --secondary-foreground: #f5d1d8;
  --muted: #333333;
  --muted-foreground: #a3a3a3;
  --accent: #331e28;
  --accent-foreground: #f5d1d8;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #333333;
  --input: #333333;
  --ring: #e45882;
  --sidebar: #1e1e1e;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #e45882;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #331e28;
  --sidebar-accent-foreground: #f5d1d8;
  --sidebar-border: #333333;
  --sidebar-ring: #e45882;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--default-font-family);
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl lg:text-6xl font-semibold leading-none;
  }
  h2 {
    @apply text-2xl font-medium leading-none;
  }
  h3 {
    @apply text-xl leading-none;
  }
  img {
    @apply rounded-sm;
  }
  /* revert height layer so  */
  /* img[height] {
    height: revert-layer;
  } */

  input[type="password"] {
    font-family: system-ui, sans-serif; /* 系统默认字体 */
    letter-spacing: normal; /* 重置字母间距 */
  }
}

@layer utilities {
  .icon-lg {
    @apply scale-125 w-6 h-6;
  }
  .icon-sm {
    @apply scale-75;
  }
}

th,td {
  @apply pr-4;
}

.navbar-button {
  @apply relative flex items-center justify-center select-none cursor-pointer;
  @apply box-border px-4 self-stretch text-foreground;
  @apply hover:bg-accent hover:text-accent-foreground transition-colors duration-150;
  @apply active:bg-primary/30;
}

.badge-button {
  @apply cursor-pointer rounded-full bg-primary-active hover:bg-primary-accent active:bg-primary-active;
}

.navbar-active-button {
  @apply border-b-4 border-primary pt-[4px];
  bottom: -1px;
}

.homepage-swiper {
  --swiper-theme-color: var(--primary);
  --swiper-pagination-color: var(--primary);
  --swiper-pagination-bullet-size: 10px;
}

.screen_layout {
  @apply flex flex-col items-stretch min-h-screen;
}

.swiper-slide {
  height: auto !important;
  align-self: stretch !important;
  width: 92% !important;
  margin: 0 4%;
}
.swiper-slide-prev {
  right: -6%;
}
.swiper-slide-next {
  left: -6%;
}
